body{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-image: url(image/escenario-vacio.jpg);
    background-size:cover;
    background-position: center;
    background-position-y: 68%;
    background-repeat: no-repeat;
}
main{
    height: 100%;
    width: 99%;
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
#encabezado{
    background-image: url(image/banner.jpg);
    text-align: center;
    padding: 9px;
    border: 4px solid rgb(207, 58, 207);
    backdrop-filter: blur(5px);

}
@font-face {
  font-family: 'mifuente';
  src: url('fonts/mifuente.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#titulo{
    font-family: 'mifuente';
    -webkit-text-stroke: 2px rgb(221, 147, 221);
    padding: 0;
    color: aliceblue;
    font-size: 50px;
}
#pie{
    background-image: url(image/banner.jpg);
    padding: 6px;
    border: 4px solid rgb(207, 58, 207);
    display: flex;
    text-align: center;
    justify-content: center;
    backdrop-filter: blur(5px);
}
#msj{
    font-family: Arial;
    color: aliceblue;
}
#contenedor{
    margin: 30px;
    text-align: center;
    padding: 2px;
    height: 70vh;
    width: 75vw;
    max-width: 700px;
    max-height: 400px;
    display: flex;
    border: 2px solid red;
    background-color: aliceblue;
    align-items: center;
    justify-content: space-between;
}
.cajas{
    width: 25vw;
    height: 97%;
    border: 2px solid  rgb(36, 36, 36);
}
#syr{
    position: relative;
    width: 20vw;
    height: 97%;
}
.nombre{
    border: 1px solid rgb(36, 36, 36);
    background-color: gray;
    color: antiquewhite;
    font-family: Arial;
    margin: 0;
}
#contscore{
    margin: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-between;
}
.score{
    border: 1px solid  rgb(43, 42, 42) ;
    width: 45px;
    height: 65px;
}
#reinicio{
    left:  170px;
    bottom: 75px;
    background-color: blueviolet;
    border-radius: 5px;
    color: antiquewhite;
    cursor: pointer;
    padding: 5px 12px;
    border: none;
    transition: all 0.25s ease;
    transform: scale(1);
}
#botones{
    margin-top: 4px;
    display: flex;
    justify-content: center;
    gap: 12px;
}
.ppt{
    color: antiquewhite;
    background-color: blueviolet;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 12px;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s, color 0.3s ease;
    transform: scale(1);
}
#reinicio:hover, .ppt:hover{
    background: linear-gradient(270deg, #7e22ce #ffffff, #a855f7);
    animation: purpleFade 1.3s ease-in-out infinite;
    transform: scale(1.1);
    box-shadow: 0 4px 12 px rgba(0, 0, 0, 0.25);
    
}
.ccn{
    margin-top: 0;
    font-size: small;
    color: antiquewhite;
    background-color: gray;
}
li{
    margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 2px solid gray;
}
#rnd{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@keyframes gradientMove{
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
@keyframes purpleFade{
    0%{
        background: linear-gradient(135deg, #7e22ce, #ffffff);
    }
    20%{
        background: linear-gradient(135deg, #ffffff, #be83f8);
    }
    40%{
        background: linear-gradient(135deg, #7e22ce, #ffffff);
    }
    60%{
        background: linear-gradient(135deg, #ffffff, #c084fc);
    }
    80%{
        background: linear-gradient(135deg, #7e22ce, #ffffff);
    }
    100%{
        background: linear-gradient(135deg, #ffffff, #efafff);
    }
}
.rounds{
   height: 70%;

}
h4{
 margin: 0;
 padding: 4px;
 font-family: 'Courier New', Courier, monospace
}
ul{
 flex-direction: column;
 list-style: none;
 height: 60%;
 padding: 0;
 margin: 0;
}
.text{
    padding: 0;
    margin: 6px;
    text-align: center;
}
h2{
    margin: 0;
}
@media (max-width: 720px) {
    /* Estilos para móviles */
    #contenedor{
        width: 100%;
        height: 300px;
        margin-top: 25%;
    }
    main{
        width: 111%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    #encabezado{
      padding: 25px;
      width: 100%;
    }
    #titulo{
        font-size: 35px;
    }
    #pie{
        width: 102%;
        padding: 21px;
        margin-top: 170px;
    }
    #msj{
        font-size: 10px;
        padding: 10px;
    }
    body {
        overflow-y: hidden;
        background-image: url(image/rosa.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
    #reinicio{
        margin-top: 75%;
     left:  70px;
     bottom: 227px;
    }
    .rounds{
        height: 65%;
        text-align: center;
    }
    h4{
        margin: 0;
        padding: 2px;
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        height: 20%;
    }
    li{
        font-size: 10px;
        margin:0;
        height: 20px;
    }
    .cajas{
        width: 35vw;
    }
    #syr{
        width:20vw ;
    }
    #botones{
        flex-direction: column;
        align-items: center;
        gap: 2px;
    } 
    #resultado{
        font-size: 10px;
    }
    #contscore{
     align-items: center;
     justify-content: center;
     display: flex;
     justify-content: space-between;
     gap: 2px;
    }
    .score{
     border: 1px solid  rgb(43, 42, 42) ;
     width: 25px;
     height: 40px;
    }
    .ccn{
     margin-top: 0;
     font-size: 6px;
     color: antiquewhite;
     background-color: gray;
    }

}